# never commit the api key
api_key

# virtualenv directories
bin
include 
lib

# IDE config directories
.vscode
.idea

# data
data

# python stuff
__pycache__
*.pyc

# ignore bootstrap css files
*min*