# never commit the api key
api_key

# virtualenv directories
bin
include 
lib
share
venv
man

# IDE config directories
.vscode
.idea

# data
data

# temporary directories
.cache
.process
.tensorboard
logs
tmp

# python stuff
__pycache__
*.pyc

# ignore bootstrap css files
*min*
static/css/fontawesome

# tex intermediate files
*.aux
