{% extends "base.html" %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'css/train.css' %}">
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/train.js' %}"></script>
{% endblock %}

{% block tab-nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navGroupCollapse" aria-controls="navGroupCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navGroupCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="overview.html">Overview</a></li>
			<li class="nav-item"><a class="nav-link" href="training.html">Training</a></li>
			<li class="nav-item active"><a class="nav-link" href="details.html">Details</a></li>
		</ul>
	</div>

	<a class="navbar-brand" href="welcome.html">Sup3rp3rturb4d0r <i class="fas fa-eye-slash"></i></a>
</nav>
{% endblock %}

{% block content %}
{% if error_none_running %}
<div class="container text-center" id="empty-table-info">
	<div class="alert alert-secondary">
		<strong>No training process is currently running.</strong>
	</div>
</div>
{% else %}
<div class="title">
	<h3>PID {{ pid }}</h3>
</div>
<div class="title">
	<h3>Architecture</h3>
</div>
<div class="container">
	<div class="table-wrapper-scroll-y">
		<table class="table table-sm table-striped">
			<thead>
				<th>Type</th>
				<th>Input Shape</th>
				<th>Output Shape</th>
			</thead>
			<tbody>
				{% for layer in layers %}
				<tr>
					<td>{{ layer.name }}</td>
					<td>{{ layer.input_shape }}</td>
					<td>{{ layer.output_shape }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="container">
	<a class="btn btn-danger" href="javascript:abort('{{pid}}')"><i class="fas fa-ban"></i></a>
</div>
{% endif %}
{% endblock %}