.attack-options {
	display: none;
}
.input-file .input-ghost {
	display: none;
}

.input-file .input-selected-file {
	cursor: pointer;
}

.badge {
	margin-bottom: 1em;
	margin-left: 0.5em;
	font-size: 0.65em;
}

.flex-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	height: 1.5em;
}

.flex-icon {
	align-items: center;
}

.processes .flex-icon i {
	cursor: pointer;
}