/*
	Pure CSS loading animation taken from https://github.com/loadingio/css-spinner/
	License: CC0

	To include a loading animation, add the following HTML tags:
	<div class="loading"><div></div><div></div><div></div><div></div></div>
*/

.loading {
	display: inline-block;
	position: relative;
	width: 3.5em;
	height: 1em;
}
.loading div {
	position: absolute;
	top: 0;
	width: 0.7em;
	height: 0.7em;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
	left: 0;
	animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
	left: 0;
	animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
	left: 1.35em;
	animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
	left: 2.7em;
	animation: loading3 0.6s infinite;
}
@keyframes loading1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes loading3 {
	0% {
		transform: scale(1);
}
	100% {
		transform: scale(0);
	}
}
@keyframes loading2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}