.card-body > i {
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#maincontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}


.card {
    border-radius: 0.5em !important;
    width: 30%;
}

.card-title {
    font-weight: bold !important;
}

.btn-nav {
    min-height: 100%;
}