.title-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 1em;
}

.title-flex, .nav-link {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.logo {
    padding-top: 0.4em !important;
}

.top-nav {
    margin-bottom: 0 !important;
}

.sub-nav {
    font-size: 0.8em;
    padding-left: 4em !important;
}

.sub-nav > i {
    font-size: 1.5em;
    padding-left: 4em !important;
}

.nav-item > a {
    font-size: 1.5em;
}

.btn-nav:hover {
    background-color: #446e9c;
    color: white;
}

.btn-nav:active {
    background-color: #375a7f;
    color: white;
}

.btn-tab:hover{
    background-color: #282828 !important;
    color: white;
}

.btn-tab.active:hover {
    background-color: #446e9c !important;
    color: white;
}

.fa-home:hover {
    color: #888888 !important;
}

a {
    text-decoration: none !important;
    border-radius: 0.5em !important;
    color: white;
}

.nav-item {
    padding: 0.25em !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #375a7f !important;
}