.spacer {
    min-height: 3em;
}

.nav-link {
    border-radius: 0.25em !important;
}

.fa-trash-alt:hover, .fa-redo-alt:hover {
    color: #b4b4b4 !important;
}

.btn-primary:hover {
    background-image: none !important;
    background-color: #347cbb;
}

.table-active:hover {
    background-color: #444 !important;
}

.btn-sm {
    margin: 0.25em !important;
}

.table th {
    margin-top: 0 !important;
    border-top-width: 0 !important;
}

.sub-content {
    margin-left: 2em; 
}

.table-wrapper-scroll-y {
    height: 50vh;
    overflow: auto;
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px black; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #555; 
	border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
	background: #303030;
}

::-webkit-scrollbar-thumb:hover {
	background: #999; 
}