{% load static %}
<html>
    <head>
        <title>sup3rp3rturb4d0r pr3pr0c3ss1ng</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootswatch.min.css' %}">
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-3">Hello, world!</h1>
            <p class="lead">This is our preprocessing page.</p>
            <hr class="my-4">
            <p>It will be filled with actual content once we programmed the backend logic.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">I Agree</a>
            </p>
          </div>
    </body>
</html>