{% extends "base.html" %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'css/train.css' %}">
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/train.js' %}"></script>
<script src="{% static 'js/bootstrap-confirmation.min.js' %}"></script>
{% endblock %}

{% block tab-nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navGroupCollapse" aria-controls="navGroupCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navGroupCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="overview.html">Overview</a></li>
			<li class="nav-item"><a class="nav-link" href="training.html">Training</a></li>
			<li class="nav-item"><a class="nav-link" href="details.html">Details</a></li>
		</ul>
	</div>

	<a class="navbar-brand" href="welcome.html">Sup3rp3rturb4d0r <i class="fas fa-eye-slash"></i></a>
</nav>
{% endblock %}

{% block content %}
<div id="my-tab-content" class="container tab-content content">
	<div class="container invisible text-center" id="empty-table-info">
		<div class="spacer"></div>
		<h3>There are no trained models yet.</h3>
	</div>
	<table class="table table-hover" id="model-table">
	<thead>
		<tr>
		<th scope="col">#</th>
		<th scope="col"><i class="far fa-check-square"></i></th>
		<th scope="col">Name</th>
		<th scope="col">Last Modified</th>
		<th scope="col"><span id="reload_models_button"><i class="fas fa-redo-alt"></i></span></th>
		</tr>
	</thead>
	<tbody  id="models-tbody">
		<!-- filled dynamically -->
	</tbody>
	</table>
	</hr>
	<div class="spacer"></div>
	<div class="containter">
		<h3>Model Upload</h3>
		<form method="POST" action="/models/models/uploadfile" enctype="multipart/form-data" id="upload-form">
			{% csrf_token %}
			<div class="form-group form-group-lg">
				<div class="input-group input-file" name="filechooser">
					<button class="btn btn-choose btn-secondary" type="button">Choose</button>
					<input type="text" class="form-control input-lg" placeholder='Choose a file...' id="input-selected-file"/>
					<button type="submit" class="btn btn-primary" type="button">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}