{% extends "base.html" %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'css/train.css' %}">
	<link rel="stylesheet" href="{% static 'css/loading.css' %}">
{% endblock %}

{% block additional_js %}
	<script src="{% static 'js/train.js' %}"></script>
	<script src="{% static 'js/models/overview.js' %}"></script>
	<script src="{% static 'js/bootstrap-confirmation.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="title">
	<h3>Model Selection</h3>
</div>
<div id="my-tab-content" class="container tab-content content">
	{% if models|length == 0 %}
	<div class="container text-center" id="empty-table-info">
		<div class="container text-center" id="empty-table-info">
			<div class="alert alert-secondary">
				<strong>There are no trained models yet.</strong>
			</div>
		</div>
	</div>
	{% else %}
	<table class="table table-hover" id="model-table">
	<thead>
		<tr>
		<th scope="col">#</th>
		<th scope="col">Name</th>
		<th scope="col">Size</th>
		<th scope="col">Last Modified</th>
		<th scope="col" class="text-center">Attack</th>
		<th scope="col"><!--info column--></th>
		<th scope="col"><!--delete column--></th>
		</tr>
	</thead>
	<tbody  id="models-tbody">
		{% for model in models %}
		<tr class="table-active"> 
			<td scope="row">{{ forloop.counter }}</td> 
			<td class="model-filename">{{ model.name }}</td>
			<td>{{ model.size }}</td>
			<td>{{ model.modified }}</td>
			<td class="model-attack text-center">
				<a href="/attack/attack.html"><i class="fas fa-bolt custom-fade {% if model.selected %}in{% endif %}"></i></a>
			</td>
			<td class="text-center"><div data-toggle="modal" data-target="#modal" onclick="getModelInfo('{{model.name}}')"><i class="fas fa-info"></i></div></td>
			{% csrf_token %}
			<td class="text-center">
				<a class="fas fa-trash-alt" data-toggle="confirmation" data-placement="right"
					data-btn-ok-label="Proceed" data-btn-ok-class="btn-success"
					data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-danger"
					data-title="Are you sure?" data-content="This cannot be undone."></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	{% endif %}
</div>
<div class="title">
	<h3>Model Upload</h3>
</div>
<div class="container">
	<form method="POST" action="/models/uploadmodel" enctype="multipart/form-data" id="upload-form">
		{% csrf_token %}
		<div class="form-group form-group-lg">
			<div class="input-group input-file" name="filechooser">
				<button class="btn btn-choose btn-secondary" type="button">Choose</button>
				<input type="text" class="form-control input-lg" placeholder='Choose a file...' id="input-selected-file"/>
				<button type="submit" class="btn btn-primary" type="button">Submit</button>
			</div>
		</div>
	</form>
</div>

<div class="modal fade" id="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Architecture</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body flex-center">
				<div class="active" id="loading">
					<div class="spacer"></div>
					<div class="text-center">
						<div class="loading"><div></div><div></div><div></div><div></div></div>
					</div>
					<div class="spacer"></div>
				</div>
				<div class="" id="modal-content"></div>	
			</div>
		</div>
	</div>
</div>
{% endblock %}