{% extends "base.html" %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'css/train.css' %}">
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/train.js' %}"></script>
<script src="{% static 'js/models/training.js' %}"></script>
{% endblock %}

{% block tab-nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navGroupCollapse" aria-controls="navGroupCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navGroupCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="overview.html">Overview</a></li>
			<li class="nav-item active"><a class="nav-link" href="training.html">Training</a></li>
			<li class="nav-item"><a class="nav-link" href="details.html">Details</a></li>
		</ul>
	</div>

	<a class="navbar-brand" href="welcome.html">Superperturbator <i class="fas fa-eye-slash"></i></a>
</nav>
{% endblock %}

{% block content %}
{% if error_msg %}
<div class="text-center" id="empty-table-info">
	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{{ error_msg }}</strong>
	</div>
</div>
{% endif %}
<div class="title">
	<h3>Start Training</h3>
</div>
<div class="container">
	<form method="POST" action="/models/start_training" enctype="multipart/form-data" id="upload-form">
	{% csrf_token %}
	<div class="form-row">
		<div class="form-group col-md-8">
			<label for="training">Training Method</label>
			<select id="training" name="training" class="form-control" onchange="trainingChanged(this)">
							<option value="none">Select a training method...</option>
							<option value="rebuild">Rebuilding</option>
							<option value="substitute">Substitute Model</option>
			</select>
		</div>
	</div>
	<div id="training-options">
		<div id="rebuild-options" class="form-group form-group-lg training-options">
			<div class="form-row">
				<div class="form-group col-md-8">
					<label for="modelname">Model Name</label>
					<input id="modelname" type="text" class="form-control" name="modelname" placeholder="my_model">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="modeltype">Neural Network Type</label>
					<select id="modeltype" name="modeltype" class="form-control">
									<option value="rebuild">Convolutional Neural Network</option>
									<option value="substitute">Dense Neural Network</option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="epochs">Epochs</label>
					<input id="epochs" type="number" class="form-control" name="epochs" placeholder="epochs" value="30">
				</div>
				<div class="form-group col-md-4">
					<label for="dataset">Reference Dataset</label>
					<select class="form-control" id="dataset"  name="dataset">
							<option value="gtsrb">German Traffic Sign Recognition Benchmark</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="bsize">Batch Size</label>
					<input id="bsize" type="number" class="form-control" name="batch_size" placeholder="Batch Size" value="64">
				</div>
				<div class="form-group col-md-4">
					<label for="lr">Learning Rate</label>
					<input id="lr" type="number" class="form-control" name="lr" placeholder="0.01" value="0.01">
				</div>
				<div class="form-group col-md-4">
					<label for="valsplit">Validation Split</label>
					<input id="valsplit" type="number" class="form-control" name="valsplit" placeholder="0.2" value="0.2">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="optimizer">Optimizer</label>
					<select class="form-control" id="optimizer"  name="optimizer">
							<option value="sgd">Stochastic Gradient Descent</option>
							<option value="adam">Adam Optimizer</option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="maxperclass">Max. Number of Images per Class</label>
					<input id="maxperclass" type="number" class="form-control" name="maxperclass" placeholder="1000" value="1000">
				</div>
				<div class="form-group col-md-4">
					<label for="augmentation">Dataset Augmentation</label>
					<select class="form-control" id="augmentation" name="augmentation">
						<option value="0">disabled</option>
						<option value="1">enabled</option>
					</select>
				</div>
			</div>
		</div>
		<div id="substitute-options" class="form-group form-group-lg training-options">
			<div class="form-row">
				<div class="form-group col-md-8">
					<label for="jbda_modelname">Model Name</label>
					<input id="jbda_modelname" type="text" class="form-control" name="jbda_modelname" placeholder="my_model">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="modeltype">Neural Network Type</label>
					<select id="modeltype" name="modeltype" class="form-control">
									<option value="cnn_model">Convolutional Neural Network</option>
									<option value="dense_model">Dense Neural Network</option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="n_jac_iteration">Number of Jacobian Iterations</label>
					<input id="n_jac_iteration" type="number" class="form-control" name="n_jac_iteration" placeholder="5" value="5">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="lmbda">Lambda</label>
					<input id="lmbda" type="number" class="form-control" name="lmbda" placeholder="0.1" value="0.1">
				</div>
				<div class="form-group col-md-4">
					<label for="tau">Tau</label>
					<input id="tau" type="number" class="form-control" name="tau" placeholder="2" value="2">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="n_per_class">Number of Samples per Class</label>
					<input id="n_per_class" type="number" class="form-control" name="n_per_class" placeholder="5" value="5">
				</div>
				<div class="form-group col-md-4">
					<label for="jbda_batch_size">Training Batch Size</label>
					<input id="jbda_batch_size" type="number" class="form-control" name="jbda_batch_size" placeholder="64" value="64">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
						<label for="descent_only">Descent Only</label>
						<select class="form-control" id="descent_only" name="descent_only">
							<option value="1">True</option>
							<option value="0">False</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

</div>
		
{% endblock %}