{% extends "base.html" %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'css/attack.css' %}">
{% endblock %}

{% block content %}
{% if error_none_selected %}
<div class="container text-center">
	<div class="alert alert-secondary">
		<strong>No attack selected. Please select one in the overview table.</strong>
	</div>

	<a class="btn btn-primary" href="/attack/overview.html">Go to Overview</a>
</div>
{% else %}
<div class="title">
	<h3>Terminal Output</h3>
</div>
<div class="container">
	<textarea id="console" readonly></textarea>
	<div id="images"></div>
</div>

<script>
(function() {
	var interval = setInterval(fetch, 1000);

	function fetch() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var data = JSON.parse(xhttp.responseText);

				var consoleDiv = document.getElementById("console");
				consoleDiv.innerHTML = data["console"];
				consoleDiv.scrollTop = consoleDiv.scrollHeight;

				if (!data["running"]) {
					clearInterval(interval);
				}
			}
		};
		xhttp.open("GET", "attack/proc_info?pid={{ pid }}", true);
		xhttp.send();
	}
})();

(function() {
	var images = [];
	var interval = setInterval(fetch, 1000);

	function fetch() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var data = JSON.parse(xhttp.responseText);

				var recv_images = data["images"];
				var new_images = []

				for (var i = 0; i < recv_images.length; i++) {
					if (!images.includes(recv_images[i])) {
						new_images.push(recv_images[i]);
						images.push(recv_images[i]);
					}
				}

				for (var i = 0; i < new_images.length; i++) {
					var img = document.createElement("img");
					img.src = "/{{ img_path }}/" + new_images[i];
					document.getElementById("images").appendChild(img);
				}
			}
		};
		xhttp.open("GET", "attack/list_images?pid={{ pid }}", true);
		xhttp.send();
	}
})();
</script>
{% endif %}
{% endblock %}