{% extends "base.html" %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'css/attack.css' %}">
{% endblock %}

{% block additional_js %}
	<script src="{% static 'js/attack.js' %}"></script>
{% endblock %}

{% block tab-nav %}
<div class="navbar navbar-expand-lg bg-secondary display-4 sub-nav">
	<i class="fas fa-angle-double-right"></i>
	<ul class="nav nav-pills" role="tablist">
		<li class="nav-item">
			<a class="nav-link" href="index.html">Overview</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="attack.html">Attack</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link">Details ({{pid}})</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block content %}

<div class="container">
	<textarea id="console" readonly></textarea>
	<div id="images"></div>
</div>

<script>
	(function() {
		var iteration = 0;

		function fetch() {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					document.getElementById("console").innerHTML = xhttp.responseText;
				}
			};
			xhttp.open("GET", "attack/proc_info?pid={{ pid }}", true);
			xhttp.send();

			iteration++;

			// refresh up to 5 minutes
			if (iteration < 60 * 5) {
				setTimeout(fetch, 1000);
			}
		}

		fetch();
	})();
</script>

<script>
	(function() {
		var iteration = 0;
		var images = [];

		function fetch() {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var recv_images = JSON.parse(xhttp.responseText)["images"];
					var new_images = []

					for (var i = 0; i < recv_images.length; i++) {
						if (!images.includes(recv_images[i])) {
							new_images.push(recv_images[i]);
							images.push(recv_images[i]);
						}
					}

					for (var i = 0; i < new_images.length; i++) {
						var img = document.createElement("img");
						img.src = "{{ img_path }}" + new_images[i];
						document.getElementById("images").appendChild(img);
					}
				}
			};
			xhttp.open("GET", "attack/list_images?pid={{ pid }}", true);
			xhttp.send();

			// refresh up to 25 minutes
			if (iteration < 60 * 5) {
				setTimeout(fetch, 5000);
			}
		}

		fetch();
	})();
</script>

{% endblock %}