{% extends "base.html" %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'css/attack.css' %}">
{% endblock %}

{% block content %}
{% if error_none_selected %}
<div class="container text-center">
	<div class="alert alert-secondary">
		<strong>No attack selected. Please select one in the overview table.</strong>
	</div>

	<a class="btn btn-primary" href="/attack/overview.html">Go to Overview</a>
</div>
{% else %}
<div class="title">
	<h3>Terminal Output</h3>
</div>
<div class="container">
	<textarea id="console" readonly></textarea>
	<table id="images" class="table">
		<tr><th>Image</th><th>Name</th><th>Local Classification</th><th>Remote classification</th></tr>
	</table>
</div>
{% endif %}
{% endblock %}

{% block after_body_scripts %}
	<script src="{% static 'js/attack/details.js' %}"></script>
	<script>
		var pid = "{{ pid }}";
		pollConsole(pid);
		pollImages(pid, function(newImage) {
			var row = document.createElement("tr");

			var img_cell = document.createElement("td");
			var name_cell = document.createElement("td");
			var local_cell = document.createElement("td");
			var remote_cell = document.createElement("td");

			var img = document.createElement("img");
			img.src = "/{{ img_path }}/" + newImage;

			var name = document.createTextNode(newImage);

			document.getElementById("images").appendChild(row);

			row.appendChild(img_cell);
			row.appendChild(name_cell);
			row.appendChild(local_cell);
			row.appendChild(remote_cell);

			img_cell.appendChild(img);
			name_cell.appendChild(name);

			getClassification(newImage, function(local, remote) {
				local_cell.appendChild(document.createTextNode(local));
				remote_cell.appendChild(document.createTextNode(remote));
			});
		});
	</script>
{% endblock %}